<p class="text-light bg-secondary p-3 rounded-top h3">PHP</p>
<p class="text-light px-3"><strong class="h4">Experiência: </strong>1 ano</p>
<p class="text-light px-3">
  <strong class="h4">Nivel de conhecimento: </strong><br />
  <progress class="uk-progress" value="57" max="100"></progress>
</p>
<p class="text-light px-3">
  <strong class="h4">Projetos:</strong>
  <ul>
    <li>DevPub: <a href="https://github.com/jgabrielfdc/DevPub-PHP" target="_blank">https://github.com/jgabrielfdc/DevPub-PHP</a></li>
    <li>App Dashboard: <a href="https://github.com/jgabrielfdc/app_dashboard" target="_blank">https://github.com/jgabrielfdc/app_dashboard</a></li>
  </ul>
</p>
