#biografia__container {
    & .biografia__content {
        height: 100%;
        margin: 0px;
        padding:0.93em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    & .biografia__texto {
        color: #000;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    & .biografia__apresentacao {
        border-bottom: 2px solid #a7a7a7;
    }

    & .buttons {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 5px 0px;
        justify-content: space-around;
    }

    & .buttons__container {
        display: flex;
        justify-content: center;
        gap: 17.36%;
        padding: 10px 0px;
    }

    & .button__option {
        color: #000;
        display: inline-block;
        padding: 15px;
        border-radius: 50px;
        color: #fff;

        & a {
            text-decoration: n;
            color: #fff;
        }
    }

    & .button {
        padding: 5px 25px;
        width: clamp(250px, 69.4%, 400px);
        display: inline-flex;
        align-self: center;
        transition: all 0.3s;
        border-radius: 10px;

        & span {
            margin: 0px;
            padding: 0px;
            width: 100%;
            font-size: 1.68em;
        }
    }

    & .button:hover {
        transition: 0.3s all;
        background-color: #f0942a;
    }
}