.intro__content{
  height:100%;
  width:100vw;

  background-repeat: no-repeat;
  background-size:contain;
  background-attachment: fixed;
  background-image: url('../imgs/parallax.png');
  background-position-x:right;
}

.intro__background > div{
  height:150px;
}

#intro__row{
  position:relative;
}

.intro__title{
  position:absolute;
  width: 60%;
  transform:translate(-50%, -50%);
  left:50%;
  top:45%;
  display:flex;
  flex-direction: column;
}

.intro__header-1 h1,.intro__header-2 h2{
  color:#f7f7f7;
  margin:8px;
}

.intro__header-1{
  display:inline-block;
  border-bottom:2px solid #f7f7f7;

  & h1{
    text-align: center;
    font-size:40px;
    font-family: BreeSerif; 
  }
}

.intro__header-2{
  display:inline-block;

  & h2{
    font-size: clamp(1.3em,20px,0.5em);
    font-family: Tahoma, sans-serif;
  }
}
.h2__container{
  display:flex;
  justify-content: space-between;
  
}
.h2__line{
  transform:rotate(90deg);
  content:'';
  border:1px solid #fff;
}

@media (max-width: 378px) {
  
}