#skills__container{
    display: flex;
    justify-content: space-around;
    @media(min-width: 1200px){
        flex-direction: row;
    }
    @media(max-width: 1199.8px){
        flex-direction: column;
    }
    & .display__container{
        
        @media(min-width: 1200px){
            background-color: transparent;
            width:50%;
            flex-direction: row;
        }
        @media(max-width: 1199.8px){
            flex-direction: column;
            width:100%
        }

        & #display{
            border-radius: 10px;
            overflow: hidden;
            background-color: var(--bs-dark);
            margin:15px;
            display:flex;
            flex-direction: column;

            & .skill__name{
                background-color:var(--bs-secondary);
                padding:15px 15px 0px 15px;
                & h4{
                    color:var(--bs-light);
                    display:inline-block;
                    font-size: 1.5em;
                    font-weight: 700;
                }
            }
            & .skill__description{
                display: flex;
                flex-direction: column;
                padding:15px;
                gap:15px;
                min-height: 150px;
                & h4{
                    color:var(--bs-light);
                }
                & .skill__item{
                    margin:0px;
                    & span{
                        font-size:1.2em;
                    }
                    & #display__certificados{
                        & li a{
                            font-size:1.3em;
                        }
                        & h4{
                            color:var(--bs-light);
                            font-size:1.35em;
                        }
                    }
                }
            }
        }
    }

    & .card__group{
        padding:0px;
        & > div{
            padding:0px;
            margin:0px;
            max-height:500px;
        }
        @media(min-width: 1200px){
            width:50%;
        }
        @media(max-width: 1199.8px){
            width:100%
        }
        & .categories__group{
            width: 100%;
            display: flex;
            height:100%;
            padding:15px 0px;
            align-items: center;
            margin:0px !important;
            background-color: var(--bs-secondary);
            @media(min-width: 688px){
                flex-direction: row;
                gap:25px;
            }
            @media(max-width: 687px){
                flex-direction: column;
            }
            & .category__item{
                display: flex;
                height:100%;
                width:100%;
                min-height:39.29px;
                &#category__options{
                    & ul{
                        @media(min-width: 688px){
                            justify-content: left;
                        }
                    }
                }

                &#all__button{
                    width:25%;
                    @media(max-width: 688px){
                        padding-bottom:10px;
                        border-width: 0px 0px 2px 0px;
                        border-color: var(--bs-light);
                        border-style: solid;
                    }
                    @media(min-width: 687px){
                        border-width: 0px 2px 0px 0px;
                        border-color: var(--bs-light);
                        border-style: solid;
                    }
                }
                @media(max-width: 688px){
                    justify-content: space-between;
                }
                @media(min-width: 687px){
                    justify-content: center;
                }
                
                & ul{
                    display:flex;
                    padding:0px 10px;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin:0px auto;
                    gap:1em; 

                    & li{
                        display: inline-block;
                        padding:0px;
                        margin:0px;
                        /* outline:1px solid #fff; */
                        & a{
                            height:100%;
                            width:100%;
                            display: flex;
                            align-items: center;
                            justify-content:center ;
                            font-weight: 600;
                            color:var(--bs-light);
                            margin:0px;
                            &:hover{
                                color:var(--bs-light);
                                text-decoration: none;
                                background-color:color-mix(in srgb, var(--bs-primary) 80%, var(--bs-dark) 20%);
                                transform:scale(105%);
                            }
                        }
                    }
                }
            }
        }

        & .skill__list {
            padding:20px;
            background: #000;
            & .list__container{
                overflow: hidden;
                border-radius:15px;
                width: 100%;
                height:100%;
                padding:0px;
                max-height: 300px;
                & ul{
                    overflow-y: auto;
                    display:flex;
                    flex-wrap: wrap;
                    height:100%;
                    max-height:300px !important;
                    & li{
                        display:inline-block;
                        max-width: 300px;

                        & .h4{
                            font-size: 1.3em;
                        }
                    }
                    /* Telas Grandes */
                    @media(min-width: 1200px){        
                        gap:8px;
                    }
                    /* Telas Medias */
                    @media(min-width:475px) and (max-width:768px){
                        padding:5px auto;
                        gap:5px;
                        /* background-color: #fff; */
                    }
                    /* Telas Pequenas */
                    @media(max-width: 475px){
                        gap:5px;
                        padding:5px;
                        /* background-color: #fff; */
                    }
                    
                }
            }
        }
    }
        
}