<link rel="stylesheet" href="assets/css/biografia.css">

<div class="biografia__content">
    <div class="biografia__texto border-warning">
        <div class="biografia__apresentacao">
            <div class="resumo">
                <h4>Resumo</h4>
                <p>
                    Opa rapaz que texto enorme
                    Opa rapaz que texto enorme
                    Opa rapaz que texto enorme
                    Opa rapaz que texto enorme
                    Opa rapaz que texto enorme
                    Opa rapaz que texto enorme
                    Opa rapaz que texto enorme
                </p>
            </div>
            <div class="sobremim">
                <h4>Sobre Mim</h4>
                <p>
                    Opa que beleza
                    Opa que beleza
                    Opa que beleza
                    Opa que beleza
                    Opa que beleza
                    Opa que beleza
                </p>
            </div>
        </div>
        <div class="buttons">
            <ul class="buttons__container">
                <li class="button__option" id="whatsapp"><i class="fa-brands fa-whatsapp fa-2xl"></i></li>
                <li class="button__option" id="linkedin"><i class="fa-brands fa-linkedin fa-2xl"></i></li>
                <li class="button__option" id="github"><i class="fa-brands fa-github fa-2xl"></i></li>
            </ul>
            <button class="btn btn-warning button">Baixar CV</button>
        </div>
    </div>
    <div class="biografia__profile border-danger">

    </div>
</div>