<link rel="stylesheet" href="assets/css/biografia.css">

<div class="biografia__content">
    <div class="biografia__texto">
        <div class="biografia__apresentacao">
            <div class="resumo">
                <h4>Resumo</h4>
                <p>
                    Desenvolvedor Fullstack criativo e autodidata apaixonado em desenvolver e criar aplicações para
                    resolução de problemas diarios, atuando com desenvolvimento de aplicações web.Desenvolvedor Fullstack autodidata com foco em criar aplicações web que resolvem problemas reais. Minha abordagem une criatividade e pensamento crítico para entregar soluções eficientes e intuitivas. Sou orientado ao aprendizado contínuo de metodologias ágeis e ao aprimoramento constante de soft skills. Busco transformar desafios diários em sistemas funcionais com autonomia e foco em resultados.
                </p>
            </div>
            <div class="sobremim">
                <h4>Sobre Mim</h4>
                <p>
                    Sou João Gabriel, tenho 21 anos e há dois anos iniciei minha jornada na programação, área pela qual sou apaixonado. Como iniciante, foco meu desenvolvimento na busca por metodologias eficientes e no aperfeiçoamento constante das minhas habilidades. Sou um profissional proativo, organizado e dedicado a aprender novas formas de otimizar projetos e entregar resultados com qualidade e disciplina
                </p>
            </div>
        </div>
        <div class="buttons">
            <ul class="buttons__container" id="contacts__buttons">
            </ul>
            <button class="btn btn-warning button"><span>Baixar CV</span></button>
        </div>
    </div>
</div>

<script src="assets/js/ContactsButtons.js"></script>