<link rel="stylesheet" href="assets/css/biografia.css">

<div class="biografia__content">
    <div class="biografia__texto">
        <div class="biografia__apresentacao">
            <div class="resumo">
                <h4>Resumo</h4>
                <p>
                    Desenvolvedor Fullstack criativo e autodidata apaixonado em desenvolver e criar aplicações para
                    resolução de problemas diarios, atuando com desenvolvimento de aplicações web.
                </p>
            </div>
            <div class="sobremim">
                <h4>Sobre Mim</h4>
                <p>
                    Opa que beleza
                    Opa que beleza
                    Opa que beleza
                    Opa que beleza
                    Opa que beleza
                    Opa que beleza
                </p>
            </div>
        </div>
        <div class="buttons">
            <ul class="buttons__container" id="contacts__buttons">
            </ul>
            <button class="btn btn-warning button"><span>Baixar CV</span></button>
        </div>
    </div>
</div>

<script src="assets/js/ContactsButtons.js"></script>