<link rel="stylesheet" href="assets/css/intro.css">

<div class="row intro__content">
  <div id="intro__row" class="col-12 bg-sm-ocean">
    <div class="intro__title">
      <div class="intro__header-1">
        <h1>Prazer, Eu sou João Gabriel</h1>
      </div>
      <div class="intro__header-2">
        <h2>
          <div class="h2__container">
            <div class="h2__line"></div>
            <div>Desenvolvedor Fullstack | Laravel | Vue.Js | PHP</div>
            <div class="h2__line"></div>
          </div>
        </h2>
      </div>
    </div>
  </div>
</div>
