<link rel="stylesheet" href="assets/css/skills.css" />

  <div class="display__container fade-out">
    <div id="display">
        <span class="skill__name">
            <h4>Habilidades</h4>
        </span>
        <span class="skill__description">
            <h4>Escolha uma habilidade</h4>
        </span>
    </div>
  </div>

  <div class="card__group fade-out">
    <div uk-filter="target: .js-filter" class="bg-dark">
      
      <div class="categories__group">
        
        <div class="category__item" id="all__button">
          <ul class="uk-subnav-pill">
            <li class="uk-active" uk-filter-control>
              <a href="#">Todos</a>
            </li>
          </ul>
        </div>

        <div class="category__item" id='category__options'>
          <ul class="uk-subnav uk-subnav-pill w-100" uk-margin>
            <li uk-filter-control="filter: [id='front']; group: data-color">
              <a href="#">Front-end</a>
            </li>
            <li uk-filter-control="filter: [id='back']; group: data-color">
              <a href="#">Back-end</a>
            </li>
            <li uk-filter-control="filter: [id='tool']; group: data-color">
              <a href="#">Tools</a>
            </li>
          </ul>
        </div>

      </div>

      <div class="skill__list">
        <div class="list__container">
          <ul class="js-filter" id="skill__cards">

          </ul>
        </div>
      </div>
    </div>
  </div>
<script>
  // let intersectionConfig={};
  // if(window.innerWidth>=476){
  //   intersectionConfig={
  //     threshold:0.2
  //   };
  // }else{
  //   intersectionConfig={
  //     threshold:1
  //   };
  // }

  const section=$('#skills__container')[0];
  const observer = new IntersectionObserver((entries)=>{
      // $(section).addClass('fade-out')
      let {target,isIntersecting}=entries[0];
      if(isIntersecting){
          Array.from(target.children).forEach((item)=>{
              if(item.tagName=='DIV'){
                  $(item).addClass('fade-in')
              }
          })
          // $(target).addClass('fade-in')
      }else{
        $("#display").html('<span class="skill__name"><h4>Habilidades</h4></span><span class="skill__description"><h4>Escolha uma habilidade</h4></span>');
          Array.from(target.children).forEach((item)=>{
              if(item.tagName=='DIV'){
                  $(item).removeClass('fade-in')
              }
          })
      }
  },{
    threshold:0.2
  });

  observer.observe(section)
</script>
<script src="assets/js/SkillDisplay.js" defer></script>
<script src="assets/js/cardBuilder.js"></script>
