<link rel="stylesheet" href="assets/css/skills.css" />

  <div class="display__container">
    <div id="display__items" class="bg-dark my-4 rounded">
        <p class="text-light bg-secondary p-3 rounded-top h3">
            Habilidades
        </p>
        <p class="text-light px-3 text-center">
            Escolha uma habilidade
        </p>
    </div>
  </div>

  <div class="card__group">
    <div uk-filter="target: .js-filter" class="rounded my-4">
      <div class="uk-grid-divider uk-child-width-auto bg-secondary px-5 py-2" uk-grid class="categories__group">
        
        <div class="category__item">
          <ul class="uk-subnav uk-subnav-pill" uk-margin>
            <li class="uk-active" uk-filter-control>
              <a href="#" class="text-light px-4">Todos</a>
            </li>
          </ul>
        </div>

        <div>
          <ul class="uk-subnav uk-subnav-pill" uk-margin>
            <li uk-filter-control="filter: [id='front']; group: data-color">
              <a href="#" class="text-light px-4">Front-End</a>
            </li>
            <li uk-filter-control="filter: [id='back']; group: data-color">
              <a href="#" class="text-light px-4">Back-end</a>
            </li>
            <li uk-filter-control="filter: [id='tool']; group: data-color">
              <a href="#" class="text-light px-4">Tools</a>
            </li>
          </ul>
        </div>

      </div>

      <div class="p-3">
        <div class="pb-5 px-3" style="overflow-y: scroll">
          <ul class="js-filter uk-child-width-1-2 uk-child-width-1-4@m uk-text-center" uk-grid="masonry: true" id="skill__cards">

          </ul>
        </div>
      </div>
    </div>
  </div>

<script src="assets/js/SkillDisplay.js"></script>
<script src="assets/js/cardBuilder.js"></script>
